*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color: plum;
}

.nav a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
    padding-left: 100px;
}

.nav a:hover{
    color: #fff;
}